.about {
  position: relative;
  background: linear-gradient(106.66deg, #4083FD 38.48%, rgba(64, 131, 253, 0) 145.91%);

  @include media-breakpoint-down(md) {
    margin-bottom: 150px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    background-image: url("../img/ban.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;

    @include media-breakpoint-down(md) {
      top: auto;
      bottom: -142px;
      left: auto;
      right: 0;
      width: 330px;
      height: 142px;
    }
  }
}
