.block-dark{
  background-color: #2E3A59;
  padding: 40px 40px 40px 35px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  p{
    margin-bottom: 0;
  }
  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}
.img-block{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: -10px;
}
.block-blue{
  background: rgba(46, 67, 255, 0.77);
  border-radius: 4px;
  padding: 40px 50px 40px 35px;
  @include media-breakpoint-down(sm) {
    border-radius: 0;
  }
}
.shield{
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items:center;
  margin-left: -16px;
  @include media-breakpoint-down(lg) {
    margin-left: 0;
  }
  img{
    width: fit-content;
    height: fit-content;
  }
}