.accordion{
  &-item{
    border-bottom:1px solid #F8F8F8!important;

  }
  .item-sm
  {
    @include media-breakpoint-down(md){
      border:1px solid  #DBDEE1!important;
      margin-bottom: 10px;
      padding-left: 15px;
    }
  }
  &-button {
    padding: 25px 20px 25px 0 !important;
    @include media-breakpoint-down(md){
      font-weight: 500!important;
      padding: 20px 20px 20px 0 !important;
    }


    &:not(.collapsed) {
      color: $dark !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }

    &:focus {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    &::after {
      background-image: url("../img/arrow-q.svg") !important;
      width: 20px !important;
      height: 20px !important;
      background-size: auto;
      background-position: center;
      transform-origin: center;
    }
  }
  &-body{
    padding: 0 20px 30px 0;
  }
}