.img-garant{
  border-radius: 50%;
  background-color: #EEF4FF;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 23px;
  img{
    width: 20px;
    height: 20px;
  }
}