.main-block{
  .card {
    @include media-breakpoint-down(lg) {
      background-color: transparent;
      border: none;
    }
  }

  .carousel {
    width: auto;
    margin: 0 0 0 calc((100vw - #{map-get($container-max-widths, xxl)}) / 2 + #{$container-padding-x} / 2);

    @include media-breakpoint-only(xl) {
      margin-left: calc((100vw - #{map-get($container-max-widths, xl)}) / 2 + #{$container-padding-x} / 2);
      &-cell { width: 75%; }
      .flickity-prev-next-button {
        &.next { right: 30%; }
      }
    }
    @include media-breakpoint-only(lg) {
      margin-left: calc((100vw - #{map-get($container-max-widths, lg)}) / 2 + #{$container-padding-x} / 2);
      &-cell { width: 85%; }
      .flickity-prev-next-button {
        &.next { right: 21%; }
      }
    }
    @include media-breakpoint-down(lg) {
      margin-left: 0;
      &-cell {
        width: 100%;
        .card {
          margin-right: 0;
          border-radius: 0;
        }
      }
      .flickity-prev-next-button {
        display: none;
        &.next { right: 1%; }
      }
      .font-size-64 {
        font-size: 3rem;
      }
    }
    @include media-breakpoint-down(md) {
      .font-size-64 {
        font-size: 2.5rem;
      }
    }

    &-cell {
      width: 66%;
      height: 460px;
      padding: 0;

      .card {
        margin-right: 3rem;
        background-color: $gray;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;

        &-body {
          background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 49%, rgba(0, 0, 0, 0) 113.58%);
        }
      }
    }

    .flickity {
      &-button:disabled {
        display: none;
      }

      &-page-dots {
        display: none;
        @include media-breakpoint-down(lg) { display: block; }

        .dot {
          margin: 0 4px;
          opacity: 1;
          background-color: #B5B5B5;
          &.is-selected {
            background-color: $primary;
          }
        }
      }

      &-prev-next-button {
        width: 42px;
        height: 42px;
        background-color: #3F44C2;
        color: #fff;
        &:hover {
          background-color: $primary;
        }

        &.previous {
          left: 1%;
        }
        &.next {
          right: 38%;
        }
      }
    }
  }

}

.light{
  width: 60px;
  height: 60px;
  margin-right: 16px;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-down(lg){
    margin-right: 0;
  }
  &-center{
    margin-right: 0;
    margin-bottom: 0;
  }
}
