.popular{
  .nav-link{
    width: 180px;
    height: 40px;
    &.active{
      color:$primary!important;
      background-color: transparent;
      border:1px solid $primary;
      font-weight: 700;
      border-radius: 4px;
    }
  }
}

.products{

  padding: 26px 34px 26px 34px;
  &-img{
    width: 166px;
    height: 166px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  ul{
    padding-left: 16px;
  }

}
