.review{
  max-width: 950px;
  padding: 65px 0;
  textarea::-webkit-input-placeholder {
    font-weight: 500;
  }
  &-star{
    background-image: escape-svg(url('data:image/svg+xml,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.49995 9.75007L3.60685 11.2711C3.26058 11.4531 2.83231 11.32 2.65026 10.9737C2.57777 10.8358 2.55276 10.6779 2.57909 10.5244L3.13163 7.30283L0.791057 5.02134C0.510923 4.74828 0.505191 4.29982 0.778254 4.01969C0.88699 3.90814 1.02947 3.83554 1.18362 3.81314L4.41821 3.34313L5.86476 0.412097C6.0379 0.0612924 6.46263 -0.0827394 6.81344 0.0903931C6.95313 0.159335 7.0662 0.272405 7.13514 0.412097L8.58169 3.34313L11.8163 3.81314C12.2034 3.8694 12.4716 4.22884 12.4154 4.61597C12.393 4.77013 12.3204 4.91261 12.2088 5.02134L9.86828 7.30283L10.4208 10.5244C10.4869 10.9099 10.228 11.2761 9.84241 11.3422C9.68887 11.3686 9.53094 11.3436 9.39305 11.2711L6.49995 9.75007Z" fill="#DADADA"/></svg>'));
    width: 12px;
    height: 13px;
    background-repeat: no-repeat;
    margin: 0 2px 3px 2px;
    cursor: pointer;
  }
  &-top{
    direction: rtl;
  }
  &-top > div:hover, &-top > div:hover ~ div,
  &-top > div.active, &-top > div.active ~ div{
    background-image: escape-svg(url('data:image/svg+xml,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.49995 9.75007L3.60685 11.2711C3.26058 11.4531 2.83231 11.32 2.65026 10.9737C2.57777 10.8358 2.55276 10.6779 2.57909 10.5244L3.13163 7.30283L0.791057 5.02134C0.510923 4.74828 0.505191 4.29982 0.778254 4.01969C0.88699 3.90814 1.02947 3.83554 1.18362 3.81314L4.41821 3.34313L5.86476 0.412097C6.0379 0.0612924 6.46263 -0.0827394 6.81344 0.0903931C6.95313 0.159335 7.0662 0.272405 7.13514 0.412097L8.58169 3.34313L11.8163 3.81314C12.2034 3.8694 12.4716 4.22884 12.4154 4.61597C12.393 4.77013 12.3204 4.91261 12.2088 5.02134L9.86828 7.30283L10.4208 10.5244C10.4869 10.9099 10.228 11.2761 9.84241 11.3422C9.68887 11.3686 9.53094 11.3436 9.39305 11.2711L6.49995 9.75007Z" fill="#FFA800"/></svg>'));
  }
  &-shadow{
    box-shadow: 0 0 2px 2px rgba(209, 209, 209, 0.1);
    @include media-breakpoint-down(md){
      box-shadow: none;
    }
  }

  &__list{
    &-star{
      background-image: escape-svg(url('data:image/svg+xml,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.49995 9.75007L3.60685 11.2711C3.26058 11.4531 2.83231 11.32 2.65026 10.9737C2.57777 10.8358 2.55276 10.6779 2.57909 10.5244L3.13163 7.30283L0.791057 5.02134C0.510923 4.74828 0.505191 4.29982 0.778254 4.01969C0.88699 3.90814 1.02947 3.83554 1.18362 3.81314L4.41821 3.34313L5.86476 0.412097C6.0379 0.0612924 6.46263 -0.0827394 6.81344 0.0903931C6.95313 0.159335 7.0662 0.272405 7.13514 0.412097L8.58169 3.34313L11.8163 3.81314C12.2034 3.8694 12.4716 4.22884 12.4154 4.61597C12.393 4.77013 12.3204 4.91261 12.2088 5.02134L9.86828 7.30283L10.4208 10.5244C10.4869 10.9099 10.228 11.2761 9.84241 11.3422C9.68887 11.3686 9.53094 11.3436 9.39305 11.2711L6.49995 9.75007Z" fill="#FFA800"/></svg>'));
      width: 12px;
      height: 13px;
      background-repeat: no-repeat;
      margin: 0 2px;
    }
  }
  &-item{
    margin-top: 20px;
    background: #FBFBFB;
    border-radius: 8px;
    .card-body{
      padding: 1.25rem 1rem 1.25rem 1.5rem!important;
    }
  }
}


.review__author{
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
  }
}
.review__soc{
  width: 20px;
  height: 20px;
  margin-left: 12px;
  transform: translateY(-2px);
}
.img-review{
  border-radius: 50%;
  margin-right: 16px;
  @include media-breakpoint-down(xl){
    margin-right: 8px;
  }

  @include media-breakpoint-down(lg){
    margin-right: 14px;
  }

  img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
.carousel{
  width: 93%;
  margin: 0 auto;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &-cell{
    padding: 0 15px;
    min-height: 100%;
    display: flex;
    width: 33%;
    @include media-breakpoint-down(xxl) {
      width: 50%;

    }
    @include media-breakpoint-down(lg) {
      width: 100%;

    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
  .flickity-prev-next-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 10px;
    background-color: #F4F4F4;
    @include media-breakpoint-down(sm) {
      top:110%
    }
    .flickity-button-icon {
      position: absolute;
      left: 30%;
      top: 30%;
      width: 40%;
      height: 40%;
    }
    &.previous {
      left: -5%;
      @include media-breakpoint-down(sm) {
        left: 35%;
      }
    }
    &.next {
      right: -5%;
      @include media-breakpoint-down(sm) {
        right: 35%;
      }
    }
  }
  .flickity-button:hover {
    background: #F4F4F4;
    cursor: pointer;
  }

}
.review{

}

.page{
  &-link{
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    margin-right:10px;
    padding: 0;
    text-align: center;
    line-height: 2;
    border-color: transparent;
    background-color: #F9F9F9;
    &:hover, &:focus{
      color: $white;
      background-color: $primary;
      border-color: transparent;
    }
    &:focus{
      background-color: $white;
      color: $dark;
      outline: none!important;
      box-shadow: none!important;
    }
    &-order{
      background-color: #F4F4F4;
      &:focus{
        background-color: #F4F4F4;

      }
    }
  }
}