.btn {
  border-radius: 4px;
  &:focus {
  outline: none !important;
    box-shadow: none!important;
  }

  &-primary {
    &,  &:focus, &:active {
      background: $primary!important;
      color: $white!important;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background: #0C62FF!important;
      color: $white;
    }
  }

  &-outline-primary {
    &, &:focus, &:active {
      border: 1px solid $primary;
      color: $primary;
    }
    &:hover {
      border: 1px solid #005AFF!important;
      background: $white!important;
      color:  #005AFF!important;
    }
  }

  &-light {
    &, &:focus, &:active {
      color: $primary;
      background: $white;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !important;
    }
    &:hover {
      background-color: $primary!important;
      color:$white!important;
    }
  }

  &-menu {
    text-align: left;
    padding: .75rem 1rem;
    margin-bottom: 7px;
    position: relative;
    box-shadow: none;

    &.active {
      color: $primary;
      box-shadow: none;
    }

    &::after {
      position: absolute;
      content: "";
      background: url(../img/arrow-blue.svg) no-repeat center;
      width: 18px;
      height: 18px;
      right: 8px;
      top: 28%;
    }
  }

  // modal close
  &-close {
    position: absolute;
    background-image: escape-svg(url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM16.2929 17.7071C16.6834 18.0976 17.3166 18.0976 17.7071 17.7071C18.0976 17.3166 18.0976 16.6834 17.7071 16.2929L16.2929 17.7071ZM17.7071 1.70711C18.0976 1.31658 18.0976 0.683417 17.7071 0.292893C17.3166 -0.0976311 16.6834 -0.0976311 16.2929 0.292893L17.7071 1.70711ZM0.292893 16.2929C-0.0976311 16.6834 -0.0976311 17.3166 0.292893 17.7071C0.683417 18.0976 1.31658 18.0976 1.70711 17.7071L0.292893 16.2929ZM0.292893 1.70711L16.2929 17.7071L17.7071 16.2929L1.70711 0.292893L0.292893 1.70711ZM16.2929 0.292893L0.292893 16.2929L1.70711 17.7071L17.7071 1.70711L16.2929 0.292893Z" fill="#C2CFE0"/> </svg>'));
    top: 30px;
    right: 30px;
    z-index: 1000;
    &:focus{
      outline: none!important;
      box-shadow: none!important;
    }

    &-offcanvas {
      top: 15px;
      right: 15px;
      width: 22px;
      height: 22px;
      opacity: 1;
      background-size: auto;
      background-position: 60% 60%;
      background-image: escape-svg(url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM16.2929 17.7071C16.6834 18.0976 17.3166 18.0976 17.7071 17.7071C18.0976 17.3166 18.0976 16.6834 17.7071 16.2929L16.2929 17.7071ZM17.7071 1.70711C18.0976 1.31658 18.0976 0.683417 17.7071 0.292893C17.3166 -0.0976311 16.6834 -0.0976311 16.2929 0.292893L17.7071 1.70711ZM0.292893 16.2929C-0.0976311 16.6834 -0.0976311 17.3166 0.292893 17.7071C0.683417 18.0976 1.31658 18.0976 1.70711 17.7071L0.292893 16.2929ZM0.292893 1.70711L16.2929 17.7071L17.7071 16.2929L1.70711 0.292893L0.292893 1.70711ZM16.2929 0.292893L0.292893 16.2929L1.70711 17.7071L17.7071 1.70711L16.2929 0.292893Z" fill="#{$dark}"/> </svg>'));
    }
  }
}
