.cart{
  .card{
    @include media-breakpoint-down(md){
      border: none;
    }
  }

  .card-title{
    padding: 40px 55px;
    @include media-breakpoint-down(md){
      border-bottom: 1px solid #EAEAEA;
      padding: 30px 14px;
    }
  }
}
.block-pay{
  width: 370px!important;
  padding:30px 40px;
  border: 1px solid $primary;
  border-radius: 4px;
  @include media-breakpoint-down(md)
  {
    width: auto!important;
  }
  @include media-breakpoint-down(sm)
  {
    border-bottom: none!important;
    padding:30px 15px 0 15px;
  }
}
.promocode{
  .form-control{
    width: 180px!important;
    padding-left:14px;
    padding-right:14px;
    @include media-breakpoint-down(md){
      width: 100%!important;
    }
  }
}
.input-group-text-start{
  margin-right: -32px;
  z-index: 100;
  padding: 0 14px;
  border-right: 0;
  background: $white;
}

.badge{
  background-color:#EFEFEF;
  font-size: 14px;
}
.delete{
  height: 166px;
  display: flex;
  align-items: center;
  img{
    width: 18px;
    height: 18px;
  }
}

.js-btn-number{
  background-color: #EEEFF1;
  width: 30px;
  height: 30px;
  border-radius: 19px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &[data-type="plus"]{
    right:45px;
    z-index: 100;
    @include media-breakpoint-down(sm){
      right:40px;
    }
    &:hover{
      color: $info;
    }
    &:active{
      color: $info!important;
    }
  }
  &[data-type="minus"]{
    left:45px;
    z-index: 100;
    @include media-breakpoint-down(sm){
      left:40px;
    }
    &:hover{
      color: $info;
    }
    &:active{
      color: $info!important;
    }
  }
}
.js-input-number{
  border-radius: 4px!important;
  &:focus{
    box-shadow: none!important;
    outline: none!important;
    border-color: $primary;
  }
}
.number-width{
  width: 250px;
  margin-left: -28px;

}
.price{
  font-size: 18px;
  font-weight: bold;
  margin-right: 24px;
  @include  media-breakpoint-down(sm){
    font-size: 14px;
  }
  &-old{
    color: $secondary;

  }
}

.sticky-top{
  top:150px!important;
}
.total-price{
  display: flex;
  font-weight: 700;
  color: $black;
  padding-top: 34px;
  @include media-breakpoint-down(xl)
  {
    flex-direction: column;
  }
}
.discont{
  padding-left: 25px;
  font-weight: 700;
  color: $secondary;
  @include media-breakpoint-down(xl)
  {
    padding-left: 0;
  }
}
.to__go{
  width: 40px;
  height: 40px;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}
.cart__box {
  padding: 37px 70px;
  @include media-breakpoint-down(xl) {
    padding-left: 35px;
    padding-right: 35px;
  }
  @include media-breakpoint-down(md) {
    padding: 40px 15px 0 15px;
  }
}
.cart-flex{
  display: flex;
  @include media-breakpoint-down(xl) {
    flex-direction: column;
  }
  @include media-breakpoint-down(lg) {
    flex-direction: row;
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}