.select {
  margin-top: 40px;
  .card-body {
    padding: 27px 26px;
  }

  &-list{
    li{
      margin-top: 16px;
    }
  }
}
.helper{
  margin-top: 35px;
  .card-body{
    padding: 33px 35px;
  }
}
.img-list{
  margin-right: 10px;
}
.bootstrap-select {
  > .dropdown-toggle.bs-placeholder {
    color: $dark;
    &:hover, &:focus, &:active {
      color: $dark;
    }
  }
  .btn{
    &-white{
      padding: 9px 16px!important;
      border: 1px solid #EAEAEA!important;
      border-radius: 4px!important;
      font-weight: 500!important;
      box-shadow: none!important;
      &:focus{
        outline: none!important;
        box-shadow: none!important;
      }
    }
    &.show{
      border-bottom-left-radius: 0!important;
      border-bottom-right-radius: 0!important;
    }
  }
  .dropdown-menu{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    box-shadow: none!important;

    &[data-bs-popper] {

      margin-top: 0!important;
    }
    &.show {
      padding: 0!important;
    }
    .inner{
      max-height: 160px;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color:#C4C4C4;
      }
    }

  }
  .dropdown-item{
    padding: 9px 16px!important;
    border: 1px solid #EAEAEA!important;
    border-top: 0!important;

    &:hover, &:hover.active {
      background-color: transparent;
      color:$primary;
    }
    &.active, &.selected {
      color:$secondary;
    }


  }
  .dropdown-toggle{
    &::after{
      content:"";
      position: relative;
      border:none;
      background: url("../img/arrow.svg") no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      top: 0;
      right: 0;
      transform:rotate(90deg);
      transform-origin: center;
      transition: all .5s;

    }
    &.show::after{
      transform:rotate(-90deg);
    }
  }
  .filter-option-inner-inner{
    color: $dark!important;
  }
  img{
    width: 19px;
    height: auto;
  }
  li:last-child {
    border-bottom-right-radius: 4px!important;
    border-bottom-left-radius: 4px!important;
  }
}
.catalog{
  .bootstrap-select {
    width: 180px !important;
    @include media-breakpoint-down(md)
    {
      width: 100%!important;
    }
  }
}
.totop{
  cursor: pointer;
  transform: rotate(180deg);
}