html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;

}

footer {
  flex: 0 0 auto;
}

input::-webkit-input-placeholder {
  font-weight: 500;
}

button{
  font-weight: $font-weight-normal;
}
.a{
  &-blue{
    color: $secondary;
    &:hover, &.active {
      color: $primary !important;
    }
  }
}
.content{
  &-dark{
    color:$black!important;
    a{
      color:$black!important;
    }
  }
  p{
    color:$secondary;
    margin-bottom:0!important;
    line-height: 26px;
  }
  b{
    color:$black;

  }
  a{

    color:$secondary;
    &:hover{
      text-decoration: underline;
    }

  }
  ul{
    padding-left: 0;
    margin-bottom: 0;

    li{
      margin-left: 5px;
      padding-left: 5px;
      color: #7A7A7A;
      list-style-type: "-";
      line-height: 26px;
    }
  }
}

.list-group-item-action{
  border: 1px solid transparent;
  margin-top:0 ;
  border-top-width: 0;
  &:hover, &:focus ,&:active, &.active{
    border: 1px solid transparent;
    background-color: transparent;
    margin-top:0 ;
    border-top-width: 0;
  }
}


.text-truncate-promo{
  padding-right: 140px!important;
}
.form-check-input:focus {
  outline: none!important;
  box-shadow: none!important;
}
.input-icon{
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-cabinet-tabs {
  border-bottom: 6px solid #F5F5F5;

  .nav-link {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    background: transparent;
    border: none;
    font-weight: 500;

    &::after {
      transition: $transition-base;
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom: solid 6px transparent;
      transform: translateY(6px);
      border-radius: 10px;
    }
    &.active {
      font-weight: 700;
    }
    &.active, &:hover {
      &::after {
        border-bottom-color: $primary;
      }
    }
  }
}

.form-control{
  box-shadow: none!important;
  &:focus{
    border: 1px solid #E3E3E3!important;
    box-shadow: none!important;
  }
}

.pay {
  .tab-pane {
    @include media-breakpoint-down(sm) {
      display: block !important;
      opacity: 1 !important;
    }
  }
}

.js-slider-review:after {
  content: 'flickity';
  display: none; /* hide :after */
}

.line-through {
  position: relative;
  &::after {
    content: "";
    height: 2px;
    background-color: #4083FD;
    right: -23%;
    left: -23%;
    top: 40%;
    position: absolute;
  }
}

.card-sm{
  @include media-breakpoint-down(md) {
    margin: 0 -15px;
    border-radius: 0;
    overflow: hidden;
    border-left: none;
    border-right: none;

  }
}

.select__prod{
  height: 50px;
  border-bottom: 1px solid #EAEAEA;
  align-items: center;
  overflow-x: scroll;
  overflow-y: auto;
  display: flex;
  width: auto;
  padding: 0 0 0 calc((100vw - #{map-get($container-max-widths, lg)}) / 2);
  @include media-breakpoint-down(lg)
  {
    padding: 0 0 0 calc((100vw - #{map-get($container-max-widths, md)}) / 2);
  }
  @include media-breakpoint-down(md)
  {
    padding: 0 0 0 calc((100vw - #{map-get($container-max-widths, sm)}) / 2);
  }
  @include media-breakpoint-up(sm)
  {
    display: none;
  }
  &::-webkit-scrollbar {
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary;

  }
  img{
    margin-right: 6px;
  }
  ul{
    margin-bottom: 0!important;
  }
  .dropdown{
    position: inherit!important;
  }

}
.form-switch .form-check-input {
  width: 3em!important;

}
.width-sm{
  @include media-breakpoint-down(md){
    width: 100% !important;
  }
}