a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.footer{
  background-color: $dark;
}
.pay{
  &-block{
    position: relative;
    background: #414141;
    border-radius: 4px;
    width: 50px;
    height: 30px;
    margin-right: 9px;
    margin-top: 9px;
    img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
