.header {


  &__padding {
    padding-top: 150px;

    @include media-breakpoint-only(lg) {
      padding-top: 120px;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 50px;
      &--account {
        padding-top: 100px;
      }
    }
  }

  .offcanvas {
    &-body {
      background-color: #FAFAFA;
    }

    .shopper-mobile {
      margin-right: 50px;
    }
  }

  .px-cart-badge {
    padding: .5rem .65rem;
  }
}

.drop{
  .dropdown {
    span{
      margin-right: 6px;

      @include media-breakpoint-down(lg) {
        margin-right: 3px;
      }
    }
    &-item{
      &:hover span::before{
        color: $primary;
      }
    }
    &-menu{
      border-top-left-radius: 0!important;
      border-top-right-radius: 0!important;
      box-shadow: none!important;
    }
    &-toggle{

      &::after{
        content:"";
        position: relative;
        border:none;
        background: url("../img/arrow.svg") no-repeat center;
        width: 24px;
        height: 24px;
        top: 0;
        right: 7px;
        transform:rotate(90deg);
        transform-origin: center;
        transition: all .5s;
        margin-bottom: -12px;

      }
      &.show::after{
        transform:rotate(-90deg);
      }
      &:focus{
        outline: none!important;
      }
    }

  }
}

.shopper {
  color: $black!important;
  transition: $transition-base;
  display: flex;
  align-items: center;

  .shop {
    transition: $transition-base;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url("../img/shop.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;

  }

  &:hover {
    color: $primary!important;
    .shop {
      background-image: url("../img/shop-hover.svg");
    }
  }

  &-mobile {
    color: $primary;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    transition: $transition-base;
    margin-right: 35px;
    padding-left: 30px;

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      top: -3px;
      left: 0;
      background: url("../img/shop-hover.svg") no-repeat center;
    }
  }
}

.menu{
  &-main {
    height: 100px;

    .dropdown {
      &-item {
        padding: 0.6rem 1.5rem !important;
      }
    }

    .navbar-brand {
      color: $black;
      font-weight: 700;
      letter-spacing: 2px;
    }

    .nav-link {
      &:focus {
        outline: none !important;
      }
    }

    @include media-breakpoint-only(lg) {
      height: 80px;
    }
    @include media-breakpoint-down(lg) {
      height: 50px;
      padding: 0;
      .navbar-brand {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }

  &-other{
    height: 50px;
    .nav{
      &-link{
        padding-left: 0 !important;
        padding-right: 0 !important;
        img{ margin-right: 10px; }

        @include media-breakpoint-down(xl) {
          font-size: 0.75rem;
          img{ margin-right: 6px; }
        }
      }
    }

    @include media-breakpoint-down(xl) {
      height: 40px;
    }
  }
}

.navbar-primary {
  .nav-link {
    &.active, &:hover, &:active, &:focus {
      color: $primary !important;
      span:before {
        color: $primary !important;
      }
    }
  }
}

