.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -5px 5px -5px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  &-list {
    background-image: url(../img/list.svg);
    .active & {
      background-image: url(../img/list-hover.svg);
    }
  }

  &-home {
    background-image: url(../img/home.svg);
    .active & {
      background-image: url(../img/home-hover.svg);
    }
  }

  &-cart {
    background-image: url(../img/cart.svg);
    .active & {
      background-image: url(../img/cart-hover.svg);
    }
  }

  &-info {
    background-image: url(../img/inform.svg);
    .active & {
      background-image: url(../img/inform-hover.svg);
    }
  }

  &-paper {
    background-image: url(../img/paper.svg);
    .active & {
      background-image: url(../img/paper-hover.svg);
    }
  }

  &-heart {
    background-image: url(../img/heart.svg);
    .active & {
      background-image: url(../img/heart-hover.svg);
    }
  }

}
