
@mixin mixin-font-size-54 {
  font-size: $font-size-30;
  @include media-breakpoint-down(xl) {
    font-size: $font-size-30 * $font-size-multiplier-xl;
  }
  @include media-breakpoint-down(lg) {
    font-size: $font-size-30 * $font-size-multiplier-lg;
  }
  @include media-breakpoint-down(md) {
    font-size: $font-size-30 * $font-size-multiplier-md;
  }
  @include media-breakpoint-down(sm) {
    font-size: $font-size-30 * $font-size-multiplier-sm;
  }
}
@mixin mixin-font-size-18{
  font-size: $font-size-18;
  @include media-breakpoint-down(xl) {
    font-size: 1rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: $font-size-18 * $font-size-multiplier-lg;
  }
}