.modal{
  &-header {
    display: block;
    position: relative;
    text-align: center;
    border: 0;
    padding: 0.5rem 0.5rem;
  }

  &-body {
    padding-right: 60px;
    padding-left: 50px;
    &::-webkit-scrollbar {
      width: 4px;
      height: 36px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #C4C4C4;
    }
    @include media-breakpoint-down(md) {
      padding-right: 30px;
      padding-left: 30px;
      .card-body{
        border-bottom: none!important;
      }
    }
    @include media-breakpoint-down(md) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .offcanvas-backdrop {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba($black, 0.5);
    &.show {
      opacity: 1 !important;
    }
  }
}
