.step{
  width: 60px;
  height: 60px;
  background-color: #EEF4FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-right: 25px;
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div{
      flex: 0 0 25%;
      @include media-breakpoint-down(xl)
      {
        flex: 0 0 50%;
      }
      @include media-breakpoint-down(sm)
      {
        flex: 0 0 100%;
      }
    }
  }
}