.product{
  .number-width{
    width: 278px!important;
    @include media-breakpoint-down(sm){
      width: 202px!important;
    }
  }
  .btn-primary, .btn-outline-primary{
    width: 220px!important;
    @include media-breakpoint-down(sm){
      width: 100% !important;
    }
  }
  .card.card-sm{
    @include media-breakpoint-down(md){
      border: none!important;
    }
  }
  .tab-pane {
    @include media-breakpoint-down(sm) {
      display: block !important;
      opacity: 1 !important;
    }
  }

}

.product__large{
    width: 250px;
    height: 310px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
    }
    @include media-breakpoint-down(xl){
      width: 310px;
    }
    @include media-breakpoint-down(lg){
      width: 250px;
    }

    @include media-breakpoint-down(md){
      width: 166px;
      height: 166px;
    }

}
.box {

  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  p {
    color: $secondary;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  input:focus ~ label {
    outline: -webkit-focus-ring-color auto 5px;
  }

  input:checked + p {
    -webkit-line-clamp: unset;
  }

  input:checked ~ label {
    display: none;
  }

}
.status{
  display: flex;
  align-items: center;
  margin-right: 30px;

}
.mark{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 16px;
  &_stock{
    background-color: $success;
  }
  &_info{
    background-color: $primary;
  }
}
.to_shop{
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url(../img/shop-hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
}
.product__box{
  padding: 35px 70px;
  @include media-breakpoint-down(lg){
    padding: 25px 35px;
  }
  @include media-breakpoint-down(md){
    padding: 0 15px;
  }
}
.description{
  max-width: 770px;
  padding-top: 45px;
  p{
    color: $secondary;
    margin-bottom: 30px;
  }
  h4{
    font-weight: 700;
    margin-bottom: 30px;
  }
  &-sm{
    input {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
    div {
      @include media-breakpoint-down(sm){
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

    }

    input:focus ~ label {
      @include media-breakpoint-down(sm) {
        outline: -webkit-focus-ring-color auto 5px;
      }
    }

    input:checked + div {
      @include media-breakpoint-down(sm) {
        -webkit-line-clamp: unset;
      }

    }
    label{
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
    input:checked ~ label {
      @include media-breakpoint-down(sm) {
        display: none;
      }

    }
  }
}

.product_faq{
  .accordion-button{
    padding: 20px 20px 20px 0 !important;
  }
  .accordion-item{
    border:1px solid #DBDEE1!important;
  }
  .accordion-button, .accordion-body{
    padding-left: 16px!important;
  }
}
.title-tab{
  position: relative;
  display: none;
  padding-bottom: 25px;
  &::after{
    position: absolute;
    content: "";
    width: auto;
    height: 6px;
    background-color: #4083FD;
    right: 0;
    bottom: 14px;
    left: 0;
    border-radius: 10px;
  }
  @include media-breakpoint-down(sm) {
    display: block;
  }
}
.product__type{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  img{
    max-width: 100%;
  }
}