// colors
$primary:    #4083FD !default;
$secondary:  #7A7A7A !default;
$warning:    #F90217 !default;
$danger:     #FF0100 !default;
$success:    #00AE3B !default;
$dark:       #1B1B1B !default;
$light:      #E1E1E1 !default;
$white:      #ffffff !default;
$info:       #2A7FFF !default;
$gray:       #6B6B6B !default;
$gray-light: #6A6A6A !default;
$gray-link:  #979797 !default;
$black:      #000000 !default;

$body-color:    $black !default;
$border-color:  #EAEAEA !default;

$container-padding-x: 15px !default;
$spacer: 1rem !default;


$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
        "white":      $white,
        "gray":       $gray,
        "gray-light": $gray-light,
        "gray-link":  $gray-link,
        "black":      $black
);


//grid
$grid-columns:                24 !default;

$enable-shadows:              true !default;


// navbar
$navbar-brand-font-size:            0.875rem!default;
$navbar-brand-padding-y:            $spacer !default;
$navbar-padding-y:                  $spacer !default;

$navbar-light-color:                $gray !default;
$navbar-light-hover-color:          $primary !default;
$navbar-light-active-color:         $primary !default;

$navbar-nav-link-padding-x:         2rem !default;
$navbar-brand-margin-end:           2rem !default;


//container
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1310px,
) !default;

$container-max-widths: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1310px,

) !default;

$grid-gutter-width: 1.5rem;
$gutters: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        20: $spacer * 2.5,
);

$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        12: $spacer * 0.75,
        60: $spacer * 3.75,
);


//font
$font-family-sans-serif: 'Montserrat', sans-serif, Arial;
$font-size-base:              1rem * 0.875 !default;
$font-weight-normal:          500 !default;

$enable-responsive-font-sizes: true !default;
$enable-negative-margins:     true !default;


$font-size-64: 1rem * 4;
$font-size-36: 1rem * 2.25;
$font-size-30: 1rem * 1.875;

$font-size-24: 1rem * 1.5;

$font-size-18: 1rem * 1.125;
$font-size-14: 1rem * 0.875;

$font-size-13: 1rem * 0.8125;
$font-size-12: 1rem * 0.75;

$h1-font-size:                1rem * 1.875 !default;
$h2-font-size:                1rem * 1.5 !default;
$h3-font-size:                1rem * 1.125 !default;
$h4-font-size:                1rem * 0.875 !default;
$h5-font-size:                $font-size-base * 0.6 !default;
$h6-font-size:                $font-size-base * 0.5 !default;



// custom font-weight
$font-weight-sizes: ();
$font-weight-sizes: map-merge(
  (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
  ),
  $font-weight-sizes
);


@each $size, $weight in $font-weight-sizes {
  .font-weight-#{$size} {
    font-weight: $weight !important;
  }
}


// Responsive multipliers
// default sizes must set on XXL resolution!
$font-size-multiplier-xxl:   1 !default; // large monitors (1680 1920)
$font-size-multiplier-xl:    0.9 !default; // DEFAULT monitor size (1366 1440)
$font-size-multiplier-lg:    0.8 !default; // medium monitors (1024 1280)
$font-size-multiplier-md:    0.7 !default; // tablet (576 768)
$font-size-multiplier-sm:    0.6 !default; // mobile (320 360 375)

//card
$card-border-radius:                0.25rem !default;
$card-border-color:                 #EAEAEA !default;
$card-border-width:                 1px !default;

//btn
$input-btn-border-width:      0 !default;
$btn-font-weight:             700 !default;
$btn-padding-y:               0.6rem !default;
$btn-padding-x:               2rem !default;

//dropdown

$dropdown-border-width:             0 !default;
$dropdown-border-radius:            0.25rem !default;

$dropdown-link-active-color:        $primary !default;
$dropdown-link-active-bg:           $white !default;


$dropdown-item-padding-y:           $spacer*1.1 !default;
$dropdown-item-padding-x:           $spacer*1.9 !default;
$dropdown-link-hover-color:         $primary !default;
$dropdown-link-hover-bg:            $white !default;
$dropdown-link-color:               $secondary !default;

//input
$input-padding-y:                       0.6rem !default;
$input-padding-x:                       1.2rem !default;

$input-border-color:                   #EAEAEA !default;
$input-border-width:                   1px !default;
$input-placeholder-color:               #BFBFBF !default;
$input-border-radius:                    0.25rem !default;



//link
$link-color:                              $dark !default;
$link-decoration:                         none !default;

//pagination


$pagination-padding-y:              .375rem !default;
$pagination-padding-x:              .75rem !default;


//modal
$modal-sm:                          400px !default;
$modal-content-border-radius:        0.25rem!default;


$form-check-input-checked-bg-color:       $success !default;
$form-check-input-border-radius:          .125rem !default;
$form-check-input-width:                  1.43em !default;

$form-check-input-focus-border:           $border-color !default;
$form-check-input-border:                 1px solid $border-color !default;


$badge-color:                       $secondary !default;
$badge-padding-y:                   .55rem !default;
$badge-padding-x:                   1.55rem !default;
$badge-border-radius:               0.25rem !default;
$badge-font-weight:                 500 !default;

$accordion-border-color: #F8F8F8!default;


