<div class="card border-0 cart__item">
    <div class="card-body border-bottom cart-flex">
        <div  class="d-flex ">
            <div class="delete">
                <a href=""><img src="./assets/img/del.svg" alt=""></a>
            </div>
            <div class="products-img">
                <img src="./assets/img/product.png" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="d-flex flex-column mx-xl-4 mx-0  mt-3">
            <div>
                <h3 class="font-weight-700">Windows 10 Professional RU x32/x64 bit</h3>
                <div class="price-block d-block d-xl-none pt-2"> <span class="price ">1790₽</span> <span class="price price-old "><s>1790₽</s></span></div>
                <div class="badge d-inline-flex mt-3">
                    <img src="./assets/img/info.svg" alt="" class="pe-2 ms-n2">
                    <div>Ключ активации</div>
                </div>
            </div>

            <div class="text-secondary mt-4">
                Артикул:FQC-09131
            </div>
            <div class="mt-4">
                <div class="d-flex align-items-center mb-3">
                    <div class="input-group  align-items-center  number-width">
                        <button type="button" class="btn js-btn-number rounded-circle" data-type="minus" data-field="input_text1">
                            <span class="fa fa-minus"></span>
                        </button>
                        <input type="text" class="form-control js-input-number text-center text-truncate" name="input_text1" id="input_text1" min="1" max="99" value="1" pattern="^[0-9]+$">
                        <button type="button" class="btn js-btn-number rounded-circle" data-type="plus" data-field="input_text1">
                            <span class="fa fa-plus"></span>
                        </button>

                    </div>
                    <div class="price-block d-none d-xl-block"> <span class="price ">1790₽</span> <span class="price price-old "><s>1790₽</s></span></div>
                </div>
            </div>
        </div>

    </div>
</div>