<div class="col-md-6 col-sm-12 col-24 pt-5 text-center text-sm-start">
  <div class="connect__img">
    <img src="./assets/img/telegram-connect.svg" alt="">
  </div>
  <p class="font-size-18 font-weight-700 mb-0">Telegram</p>
  <p class="text-secondary">Ответим в течении 5 минут.</p>
  <a href="" class="link-info">Написать</a>
</div>
<div class="col-md-6 col-sm-12 col-24 pt-5 text-center text-sm-start">
  <div class="connect__img">
    <img src="./assets/img/chat.svg" alt="">
  </div>
  <p class="font-size-18 font-weight-700 mb-0">Jivosite</p>
  <p class="text-secondary">Ответим в течении 1 минуты.</p>
  <a href="" class="link-info">Написать</a>
</div>
<div class="col-md-6 col-sm-12 col-24 pt-5 text-center text-sm-start">
  <div class="connect__img">
    <img src="./assets/img/email.svg" alt="">
  </div>
  <p class="font-size-18 font-weight-700 mb-0">Почта</p>
  <p class="text-secondary">Ответим в течении дня.</p>
  <a href="mailto:help@name.com" class="link-info" >help@name.com</a>
</div>
<div class="col-md-6 col-sm-12 col-24 pt-5 text-center text-sm-start">
  <div class="connect__img">
    <img src="./assets/img/tell.svg" alt="">
  </div>
  <p class="font-size-18 font-weight-700 mb-0">8 800 200 00 00</p>
  <p class="text-secondary">Звонки бесплатные.</p>
  <a href="" class="link-info">Позвонить</a>
</div>