<li class="nav-item dropdown  pe-4">
    <a class="nav-link dropdown-toggle text-secondary" href="#"  id="@@id" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
        @@if (img != "") {<img src="./assets/img/@@img" alt="">}@@title
    </a>
    <div class="dropdown-menu pe-5" aria-labelledby="@@id" data-bs-display="static">
        <a class="dropdown-item " href="#">Windows 10</a>
        <a class="dropdown-item " href="#">Windows 8</a>
        <a class="dropdown-item " href="#">Windows 7</a>
    </div>
</li>
