<footer class="footer mt-auto">
    <div class="container py-4">
        <div class="row">
           <div class="col-lg-6 col-sm-8 col-24 mt-2">
               <a class="font-weight-700 link-light" href="index.html" target="_blank"> SOFTKEY</a>
               <div class="text-white mt-3 line-height-22">Лицензионные ключи<br class="d-none d-md-block">
                    Windows, Microsoft Office<br class="d-none d-md-block">
                    и антивирусов.</div>
           </div>
            <div class="col-lg-4 col-sm-8 col-24 order-1">
               <ul  class="list-unstyled ">
                   <li class="mt-3">
                       <div class="d-flex justify-content-between">
                           <a class="link-light" href="" target="_blank">Главная</a>
                           <div class="d-block d-sm-none">
                               <a href="/" target="_blank"><img src="./assets/img/telegram-footer.svg" alt="" width="30px" class="me-2"></a>
                               <a href=""  target="_blank"><img src="./assets/img/vk-footer.svg" alt="" width="30px"></a>
                           </div>
                       </div>
                   </li>
                   <li class="mt-3"><a class="link-light" href="catalog.html" target="_blank">Каталог товаров</a></li>
                   <li class="mt-3"><a class="link-light" href="contacts.html" target="_blank">Гарантии</a></li>
               </ul>
            </div>
            <div class="col-lg-5 col-sm-8 col-24 order-2">
                <ul  class="list-unstyled ">
                    <li class="mt-3"><a class="link-light" href="help.html" target="_blank">Популярные вопросы </a></li>
                    <li class="mt-3"><a class="link-light" href="pay.html" target="_blank">Оплата и доставка</a></li>
                    <li class="mt-3"><a class="link-light" href="contacts.html" target="_blank">Контакты</a></li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-8 col-24  order-4 order-lg-3">
                <ul  class="list-unstyled">
                    <li class="mt-3"><a class="link-light" href="policy.html" target="_blank">Политика конфиденциальности </a></li>
                    <li class="mt-3"><a class="link-light" href="agreement.html" target="_blank">Условия обслуживания</a></li>
                    <li class="mt-3"><a class="link-light" href="cookies.html" target="_blank">Политика cookies</a></li>
                </ul>
            </div>
            <div class="col-lg-12  col-24 order-5 order-lg-4">
                <p class="text-white">Все представленные на сайте товарные знаки и иные средства <br class="d-none d-xl-block"> индивидуализации принадлежат их законным правообладателям. </p>
            </div>
            <div class="col-lg-12  col-24 order-3 order-lg-5">
                <div class="d-flex flex-wrap">
                    <div class="pay-block">
                        <img src="./assets/img/visa.svg" alt="">
                    </div>
                    <div class="pay-block">
                        <img src="./assets/img/master-card.svg" alt="">
                    </div>
                    <div class="pay-block">
                        <img src="./assets/img/mir.svg" alt="">
                    </div>
                    <div class="pay-block">
                        <img src="./assets/img/yumoney.svg" alt="">
                    </div>
                    <div class="pay-block">
                        <img src="./assets/img/kiwi.svg" alt="">
                    </div>
                    <div class="pay-block">
                        <img src="./assets/img/wmtran.svg" alt="">
                    </div>
                    <div class="pay-block">
                        <img src="./assets/img/google_pay.svg" alt="">
                    </div>
                    <div class="pay-block">
                        <img src="./assets/img/apple-pay.svg" alt="">
                    </div>
                    <div class="pay-block">
                        <img src="./assets/img/last-pay.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>