<div class="offcanvas offcanvas-end d-flex d-lg-none" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header py-2">
    <a class="navbar-brand" href="/" >SOFTKEY</a>
    <a class="shopper-mobile" href="#">@@cart₽</a>
    <button type="button" class="btn-close btn-close-offcanvas text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <div class="vstack">
      <a href="#" class="btn btn-white btn-menu @@if (active == 'catalog') {active}"><span class="icon icon-list"></span> Каталог товаров</a>
      <a href="#" class="btn btn-white btn-menu @@if (active == 'index') {active}"><span class="icon icon-home"></span> Главная</a>
      <a href="#" class="btn btn-white btn-menu @@if (active == 'cart') {active}"><span class="icon icon-cart"></span> Корзина: <span class="text-secondary">0 товаров</span></a>
      <a href="#" class="btn btn-white btn-menu @@if (active == 'help') {active}"><span class="icon icon-info"></span> Популярные вопросы</a>
      <a href="#" class="btn btn-white btn-menu @@if (active == 'pay') {active}"><span class="icon icon-paper"></span> Оплата и доставка</a>
      <a href="#" class="btn btn-white btn-menu @@if (active == 'contacts') {active}"><span class="icon icon-heart"></span> Контакты</a>
    </div>

    <div class="bg-white text-center d-flex flex-column align-items-center mt-3">
      <div class="font-weight-700 mt-3">Дарим ключи и публикуем <br> промокоды</div>
      <img src="./assets/img/arrow-q.svg" alt="" class="my-2">
      <div class="hstack gap-2 justify-content-center mb-3">
        <a href="#" target="_blank"><img src="./assets/img/telegram.svg" alt="" width="30"></a>
        <a href="#" target="_blank"><img src="./assets/img/vk.svg" alt="" width="30"></a>
      </div>
    </div>

    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-4">
      <li class="nav-item">
        <a class="nav-link" href="#">Политика конфиденциальности</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Условия обслуживания</a>
      </li>
    </ul>

  </div>
</div>