<ul class="navbar-nav d-none d-lg-flex  justify-content-center text-center">
  <li class="nav-item">
    <a class="nav-link" href="index.html">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="catalog.html">Каталог</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="help.html">Популярные вопросы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pay.html">Доставка товара</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contacts.html">Контакты</a>
  </li>
</ul>