<header class="header fixed-top">

  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom menu-main">
    <div class="container justify-content-between">

      <div class="d-flex align-items-center justify-content-start ">
        <a class="navbar-brand" href="/" >SOFTKEY</a>
        @@include('./_header_links.html')
      </div>
      <ul class="navbar-nav">
        <li class="nav-item d-none d-lg-flex">
          @@if (active == 'cart') {
            <a class="nav-link shopper" href="#"><span class="shop"></span> 6584₽ <span class="badge rounded-pill bg-primary text-white px-cart-badge ms-3">4</span></a>
          }
          @@if (active != 'cart') {
            <a class="nav-link shopper" href="#"><span class="shop"></span> Корзина</a>
          }
        </li>
        <li class="nav-item align-items-center d-flex d-lg-none">
          <a class="shopper-mobile" href="#">@@cart₽</a>
          <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <img src="./assets/img/burger.svg" alt="">
          </a>
        </li>
      </ul>

      @@include('./_header_offcanvas.html', {active: "@@active", cart: "@@cart"})

    </div>
  </nav>

  @@include('./_header_prod.html')

</header>
@@include('./_padding.html', {c: ""})