<nav class="navbar navbar-expand navbar-light bg-white border-bottom menu-other d-none d-lg-flex">
  <div class="container justify-content-between">

      <ul class="navbar-nav align-items-center w-100 drop">

        @@loop('_dropdown.html', [
          { id: "navWin",   img: "win.svg",     title: "Windows" },
          { id: "navOffice",    img: "office.svg", title: "Microsoft Office" },
          { id: "navAntivir",     img: "antivir.svg",  title: "Антивирусы" },
        ])

      </ul>

  </div>
</nav>

