<div class="carousel-cell">

    <div class="card border-0" style="background-image: url(./assets/img/main-block-slide-1.jpg)">
        <div class="card-body px-3 px-sm-60 py-4 d-flex align-items-center">
            <div class="row">
                <div class="col-24 col-md-20 col-lg-16 text-white">
                    <div class="font-size-64 font-weight-700 line-height-1p0">Windows 10 </div>
                    <p class="font-size-24 font-weight-700">со скидкой 15% только до 12 декабря</p>
                    <p class="font-size-18 font-weight-500 line-height-22 my-4">Ключ позволяет активировать ОС и использовать лицензионное программное обеспечение без каких-либо ограничений.</p>
                    <div class="d-flex align-items-center my-4">
                        <div class="font-size-36 font-weight-700">1790₽</div>
                        <p class="font-size-18 line-through my-0 ms-4"> 2150₽ </p>
                    </div>
                    <div class="d-flex flex-column flex-sm-row">
                        <a class="btn btn-primary" href="#" role="button">Купить</a>
                        <a class="btn btn-light ms-0 ms-sm-4 mt-3 mt-sm-0" href="#" role="button">Каталог товаров</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>