<div class="modal fade" id="modal"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <div class="row ">
                    <div class="col-24">
                        <p class="font-weight-700">Выбранный товар:</p>
                        <p>Windows 10 Pro</p>
                    </div>
                    <div class="col-24 pt-3">
                        <form>
                            <div class="d-block pb-12">
                                <label for="email" class="form-label font-weight-700">Укажите Email <span class="text-warning">*</span></label>
                                <div class="pt-2 input-group">
                                    <div class="input-group-text input-group-text-start">
                                        <img class="" src="./assets/img/email-input.svg">
                                    </div>
                                    <input type="email" class="form-control input-icon" id="email" aria-describedby="emailHelp " placeholder="Введите Email">
                                </div>
                                <div class="d-grid">
                                    <a class="btn btn-primary mt-3" href="#" role="button">Оплатить 1790₽</a>
                                </div>
                            </div>
                        </form>
                        <div class=" py-4">
                            <div class="d-flex align-items-center flex-column">
                                <div class="pb-12">
                                    <img src="./assets/img/info.svg" alt="">
                                </div>
                                <div class="text-center">
                                    <p class="text-secondary">На Ваш Email отправим чек после оплаты и ключ активации с инструкцией.</p>
                                </div>

                            </div>
                        </div>
                        <div class=" pb-12 text-center">
                            <p class="text-secondary">Платежи осуществляются c помощью</p>
                            <div>
                                <img src="./assets/img/yukassa.png" alt="">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>