<div class="col">
    <div class="card products">
        <div class="mx-auto">
            <div class="products-img mb-5">
                <img src="./assets/img/product.png" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="card-body p-0">
            <div class="card-title h3 font-weight-700">Windows 10 Pro</div>
            <ul class="text-secondary">
                <li class="pt-3">Тип - <span class="text-black">бессрочная лицензия</span></li>
                <li class="pt-3">Язык -  <span class="text-black">Мультиязычность</span></li>
                <li class="pt-3">Разрядность -  <span class="text-black">х32-х64</span></li>
            </ul>
            <div class="d-flex align-items-center pt-2">
                <p class="font-size-18 font-weight-700 pe-4">1790₽</p>
                <p class="line-through"> 2150₽ </p>
            </div>
            <div class="d-grid pt-3">
                <a class="btn btn-outline-primary" href="#" role="button">Перейти к товару</a>
                <a class="btn btn-primary mt-3 " href="#" role="button" data-bs-toggle="modal" data-bs-target="#modal">Купить в 1 клик</a>
            </div>

        </div>
    </div>
</div>