<div class="carousel-cell">
    <div class="card review-item  border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-17 col-24">
                    <div class="review__author  d-flex align-items-center">
                        <div class="img-review">
                            <img src="./assets/img/avatar.png" alt="" >
                        </div>

                        <div >
                            <div class="d-flex">
                                <div class="font-weight-700">
                                    Лера Соснова
                                </div>
                                <div class="review__soc">
                                    <img src="./assets/img/vk-rev.svg" alt="">
                                </div>
                            </div>
                            <div class="text-gray-light font-size-12">
                                12 декабря в 22:33
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-22 order-2 order-sm-1 d-flex justify-content-end pt-sm-0 pt-3">
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>
                </div>
                <div class=" col-24 order-1 order-sm-2 text-secondary pt-sm-0 pt-3 mb-sm-3 mb-0">
                    <div  class="text-gray-light">
                        Лучший сайт накрутки, что я встречала. Подписчики приходят мгновенно и все очень дешево. Пользуюсь постоянно.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>