<div class="card review-item border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-16 col-24 d-flex align-items-center pb-3">
                <div class="img-review">
                    <img src="./assets/img/avatar-rew.svg" alt="" >
                </div>
                <div class="font-weight-700">Имя Фамилия</div>
            </div>
            <div class="col-sm-8 col-22 order-2 order-sm-1 d-flex justify-content-sm-end pt-sm-0 pt-3">
                <div class="review__list-star"></div>
                <div class="review__list-star"></div>
                <div class="review__list-star"></div>
                <div class="review__list-star"></div>
                <div class="review__list-star"></div>
            </div>
            <div class="col-lg-20 col-24 order-1 order-sm-2 offset-lg-1 offset-0 text-secondary pt-sm-0 pt-3 mb-sm-3 mb-0 ps-lg-4 ps-3">
                <div>
                    Отличный сервис с понятной структурой. Попробовала впервые, но разобралась практически сразу: все функции упорядочены, удобный интерфейс.
                </div>
            </div>
        </div>
    </div>
</div>