<select class="selectpicker" data-style="btn-white"  data-width="100%" name="selectsort" data-display="static" data-dropup-auto="false">
    <option>Все товары</option>
    <option>Windows 10</option>
    <option>Windows 8</option>
    <option>Windows 7</option>
</select>












